* {
    font-family:sans-serif;
    margin-top: 0;
}

body {
    background-color: beige;
    margin:0;
}

header {
    text-align: center;
    background-color: plum;
    width: 100vw;
    h1 {
        padding: 10px;
    }
}

main {
    width:80vw;
    background-color: aquamarine;
    display:grid;
    grid-template-areas:"A A A A"  
                        "D C C E"
                        "B C C E"
                        "B F F E"
                        "G G H E"
                        "I I H E"
                        "J J J E";
    margin: auto;
    margin-bottom: 20px;

    div {
        padding: 10px;
        background-color: cadetblue;
        margin: 10px;
        text-align: center;
    }

    #bloque0 {
        grid-area: A;
    }

    #bloque1 {
        grid-area: B;
    }

    #bloque2 {
        grid-area: C;
    }

    #bloque3 {
        grid-area: D;
    }

    #bloque4 {
        grid-area: E;
    }

    #bloque5 {
        grid-area: F;
    }

    #bloque6 {
        grid-area: G;
    }

    #bloque7 {
        grid-area: H;
    }

    #bloque8 {
        grid-area: I;
    }

    #bloque9 {
        grid-area: J;
    }
}

footer {
    background-color: navajowhite;
    width: 80vw;
    margin: auto;
    padding: 10px;
    height: 96px;

    #autor {
        text-align: left;
        top: 50%;
        margin: auto;
        position: relative;
    }

    #github {
        float: right;
    }
}